Add initial user authorization

See the [Authentication & Authorization](https://github.com/getZION/v2/wiki/Authentication-&-Authorization) wiki for how we're handling auth.

In short, we're adapting [Nostr](https://github.com/fiatjaf/nostr) [NIP-01](https://github.com/fiatjaf/nostr/blob/master/nips/01.md) until we have the bandwidth to fully implement the Identity Hub spec for [signed data](https://identity.foundation/identity-hub/spec/#signed-data) and [permissions](https://identity.foundation/identity-hub/spec/#permissions).

We'll use [this](https://pkg.go.dev/github.com/decred/dcrd/dcrec/secp256k1/v4/schnorr#example-Signature.Verify) package to verify Schnorr signatures server-side.

Can you give me an example request?

> Which sign algorithm and how protect + payload can be concat?

The `Sign` function will be done on the client via e.g. [schnorr.sign](https://github.com/guggero/bip-schnorr#api) and verified on the server via e.g. Signature.Verify from the previously mentioned [Golang Schnorr package](https://pkg.go.dev/github.com/decred/dcrd/dcrec/secp256k1/v4/schnorr#example-Signature.Verify).

Re string concatenation, see the [JWS JSON Serialization Overview](https://datatracker.ietf.org/doc/html/rfc7515#section-3.2):

* The stringified `protected` will be a base64-encoded string generated like `BASE64URL(UTF8(JWS Protected Header))`
* The stringified `payload` will be a base64-encoded string returned from the `zion_hash` function
  * `zion_hash` will serialize the message descriptor in a specific order to ensure its string-encodings are always the same for the same data; will spec that out shortly

Per [RFC7515 section 3.1](https://datatracker.ietf.org/doc/html/rfc7515#section-3.1), those strings will be concatenated with a `.`

So the `signature` will be generated on the client by signing the string `BASE64URL(UTF8(protected)).BASE64(serialized_descriptor)` with the user's keypair via the Schnorr algorithm.

To verify the signature, the server will build its own `protected + payload` string and use the Schnorr library to verify that the given signature matches the given pubkey.

You should be able to retrieve the public key from the DID by reversing the [getMultibaseFingerprintFromPublicKeyBytes](https://github.com/getZION/v2/blob/main/src/lib/ion/getMultibaseFingerprintFromPublicKeyBytes.ts) algorithm which the client uses to generate the DID. (Zion DIDs are `did:key:{multibaseFingerprint}`)

1. Validate that the provided DID starts with `did:key:`
2. Remove that part of the string to isolate the multibase fingerprint
3. Remove the "z" at the beginning of the fingerprint (can probably combine this with the previous step)
4. [Base58](https://pkg.go.dev/github.com/btcsuite/btcutil/base58)-decode the remaining fingerprint string
5. Strip off the first two bytes

The remaining bytes are the public key. Convert to hex or string if necessary to pass to the Schnorr verify function.

The last missing pieces are our versions of [nostr-tools](https://github.com/fiatjaf/nostr-tools) methods [serializeEvent](https://github.com/fiatjaf/nostr-tools/blob/f04bc0cee10c32d1756e677ae04b6a6a55a73437/event.js#L15) and [getEventHash](https://github.com/fiatjaf/nostr-tools/blob/f04bc0cee10c32d1756e677ae04b6a6a55a73437/event.js#L26).

For Nostr:

- `serializeEvent` returns a JSON-stringified array of event elements 
  - Our version would include MessageDescriptor plus Message data
- `getEventHash` takes an `event`, creates a sha256 hash from its serialized version via `serializeEvent`, and returns the hex string

For Zion:
- `serializeMessage` should return a string equivalent to:
```
JSON.stringify([
   message.authorization.protected.kid // the short-form DID
   message.descriptor.dateCreated,
   message.descriptor.objectId,
   message.descriptor.schema,
   message.data,
])
```
- `getMessageHash` should take a Zion Identity Hub [Message](https://github.com/getZION/relay/blob/main/docs/grpc-identityhub.md#proto.identityhub.v1.Message), create a sha256 hash from its serialized version via `serializeMessage`, and return the hex string

Some suggested validation rules:

* Every CollectionsWrite must include an `authorization` object with the following properties:
  * Must have `protected` object with the following properties:
    * `protected.alg` must be the string `SS256K`, otherwise error `Unsupported signing algorithm`
    * `protected.kid` must be a string beginning with `did:key:`, otherwise error `Unsupported DID method`
  * Must have `payload` which must be a string
  * Must have `signature` which must be a string

> You should be able to retrieve the public key from the DID by reversing the [getMultibaseFingerprintFromPublicKeyBytes](https://github.com/getZION/v2/blob/main/src/lib/ion/getMultibaseFingerprintFromPublicKeyBytes.ts) algorithm which the client uses to generate the multibase fingerprint for the DID. (Zion DIDs are `did:key:{multibaseFingerprint}`)
> 
> Algorithm for server to retrieve public key from a `did:key` DID:
> 
> 1. Validate that the provided DID starts with `did:key:`
> 2. Remove `did:key:` from string to isolate the multibase fingerprint
> 3. Remove the "z" at the beginning of the fingerprint (can probably combine this with the previous step)
> 4. [Base58](https://pkg.go.dev/github.com/btcsuite/btcutil/base58)-decode the remaining fingerprint string
> 5. Strip off the first two bytes
> 
> The remaining bytes are the public key. Convert to hex or string if necessary to pass to the Schnorr verify function.

https://github.com/decred/dcrd/blob/master/dcrec/secp256k1/schnorr/pubkey.go
https://github.com/decred/dcrd/blob/master/dcrec/secp256k1/pubkey.go

I've tried two method as you can see above but they didn't parse publicKey from DID as you see below.

Example DID: `did:key:z6DtUbeLv8CZ9qjieQYoRHczeqq6UfvTwMUDYqu5HaQKeAzS`

The first byte need to be `0x02` (CompressedEven) or `0x03 (CompressedOdd)` but it's `0x01` . Do we need miss something?

I'm confused about `verify` step.

```golang
RequestContext{
	Message: &v1.Message{
		Data: "{\"name\":\"Test Community\",\"description\":\"Test Description\",\"ownerDid\":\"did:key:z6DtUbeLv8CZ9qjieQYoRHczeqq6UfvTwMUDYqu5HaQKeAzS\",\"ownerUsername\":\"Testo Mang\",\"img\":\"https://placekitten.com/g/200/300\",\"priceToJoin\":1,\"pricePerMessage\":2,\"escrowAmount\":3,\"lastActive\":1648847624849,\"tags\":[],\"public\":true,\"zid\":\"d97d001e-abe2-483d-9591-c88e7212516b\"}",
		Descriptor_: &v1.MessageDescriptor{
			DateCreated: "1648847624849",
			ObjectId:    "4e26b6c3-25be-4fdd-bb9a-269eaf971d00",
			Schema:      "https://schema.org/Organization",
		},
		Authorization: &v1.Authorization{
			Protected: &v1.AttestationProtected{
				Alg: "SS256K",
				Kid: "did:key:z6DtUbeLv8CZ9qjieQYoRHczeqq6UfvTwMUDYqu5HaQKeAzS",
			},
			Payload:   "d522c9df4cfd90e8698f7ab286255ff5b8b27251932d22fa318b3003ab07e97b",
			Signature: "3733613332376163353138343032646138323864323461346634643738306166383138373434643162643630396331643530346137303532396538663335663032326161373338366130393531373836613265646561346638623334363637343764623436396635666264616163383965336538386231376437656666613264",
		},
	},
}
```

You can see example request above. Within this request, I succeed to parse `PublicKey` and I've been regenerate `BASE64URL(UTF8(protected)).BASE64URL(serialized_descriptor)`. You can see it from below.
```jwt
eyJhbGciOiJTUzI1NksiLCJraWQiOiJkaWQ6a2V5Ono2RHRVYmVMdjhDWjlxamllUVlvUkhjemVxcTZVZnZUd01VRFlxdTVIYVFLZUF6UyJ9.d522c9df4cfd90e8698f7ab286255ff5b8b27251932d22fa318b3003ab07e97b
```

I've just two step to do;
- Parse schnorr signature. Which parameter I need to pass to parse signature? The array length need to be `64`.
	- `schnorr.ParseSignature(<BYTE_ARRAY>)`
- Verify the request. I've `PublicKey`, it's not problem. But which byte array I need to verify? The array length need to be `32`.
 	- `signature.Verify(<BYTE_ARRAY>, <PUBLIC_KEY>)`

https://github.com/getZION/relay/blob/08aa30347a397d5973b8d33d9418ecc0da58b305/api/identityhub/handler/request_context.go#L40

In golang there is no built-in SS256K sign-in algorithm. I'm not sure to I'm on the right way but It's seems right to me. 
In the other hands, if we cannot found some package to verify SS256K sign-in algorithm, we need to write it from scratch

> https://github.com/getZION/relay/blob/08aa30347a397d5973b8d33d9418ecc0da58b305/api/identityhub/handler/request_context.go#L40
> 
> In golang there is no built-in SS256K sign-in algorithm. I'm not sure to I'm on the right way but It's seems right to me. In the other hands, if we cannot found some package to verify SS256K sign-in algorithm, we need to write it from scratch

Rather than writing Schnorr verification from scratch, we'd probably sooner switch to ECDSA instead of Schnorr.

Let's first look to see if there's an established Golang library that can do it.

We'll use ECDSA.

This will help with our ~Q2 switch from `did:key` to `did:ion`, as ION currently requires ECDSA and does not support Schnorr.

Where our objects say `authorization`, we need to change that to `attestation`.

The [DWN spec](https://identity.foundation/decentralized-web-node/spec/#ref:RFC7515) has been recently updated with more info on attestations & authorizations.

Authorization specifically refers to object capabilities which we're not yet implementing.

```golang
	priv, _ := crypto.ToECDSA([]byte{173, 132, 20, 166, 186, 255, 245, 149, 13, 11, 80, 48, 31, 11, 254, 15, 230, 18, 90, 92, 234, 195, 230, 155, 82, 9, 13, 50, 139, 83, 67, 99})

	publicKey := priv.PublicKey
	publicKeyBytes := crypto.FromECDSAPub(&publicKey)
```
**_PublicKeyBytes_**
> [4 169 186 75 108 247 125 131 181 68 194 21 52 134 189 157 216 122 44 182 213 78 47 39 248 176 73 77 152 156 185 2 210 102 75 235 135 119 50 65 225 196 124 81 89 95 192 48 225 159 139 47 34 119 123 184 131 57 108 115 150 35 116 176 213]

With usage of ECDSA sign-in algorithm, we're **lose** the initialize PublicKey from backend. So we need to fix it. When I try to create PrivateKey in backend and initialize PublicKey from it, it's array lenght is 65. But when I parse DID from request, it's length is 33 and it's must be 65. Do you make some split operation on publickey array?

**_Parsed PublicKeyBytes From Request DID_** (`did:key:zQ3shr4enfaB31BsZtNovYYtuWfArzFbUiF5nofvtJbYdU5G5`)
> [3,169,186,75,108,247,125,131,181,68,194,21,52,134,189,157,216,122,44,182,213,78,47,39,248,176,73,77,152,156,185,2,210]

https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context_test.go#L39 with using same request to share with me, I can parse same `PublicKey`;

_**PublicKey Bytes**_
>[ 4 159 243 201 84 29 231 31 135 228 191 224 127 20 103 91 84 143 232 207 97 157 46 207 136 212 140 233 240 157 185 82 235 98 207 189 16 61 144 111 90 58 230 6 17 119 196 26 162 128 37 22 37 180 163 142 131 86 155 89 140 247 248 188 137 ]

With algorithm you've explain to me, I can generate JWS token;
_**JWS Token**_
>eyJhbGciOiJTUzI1NksiLCJraWQiOiJkaWQ6a2V5Ono3cjhvcmdDSmRBYkxkRTM3d1hUYTVndHdvRGIyOEFtRktrUEpYVmdvOVlneXpoVDF3WnM2bkx3UzZZR0hBWXVjdThkQW4xY29waGhrVHFIN2FTM3NRdG5vaFJDayJ9.585d655f2f7fccb97db688105ed7355dec93a25990369fd15565779667bd9f6b.

https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L37 but still I cannot verify it. 

https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L33 Even, I create `PrivateKey` in golang and try to verify `JWS Token`, it's still return error. 

I'm not sure what I've missing. Maybe it's would be great if you can explain step by step generation JWS token to me like https://github.com/getZION/relay/issues/86#issuecomment-1081244702. 

- Current Steps
	- Serialize Message https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L95
	- sign with sha256 https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L91
	- convert to hex https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L92
	- convert request authorization protected to json https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L75
	- encode with utf8 and decode with base64 rawUrl algorithm https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L81 
	- concat header and payload https://github.com/getZION/relay/blob/208688c90d9752ddb0ce0cafc391d7d685a73e90/api/identityhub/handler/request_context.go#L82


> Payload is supposed to be CID(descriptor) which we can't do until we integrate IPFS.

I was mistaken about this. We can use the JavaScript library `multiformats/cid` independently of IPFS.

Let's replace our `getMessageHash` functions with CIDs. Consult the [DWN spec](https://identity.foundation/decentralized-web-node/spec/) for specific implementation details.

An updated request object (in JS not JSON but you get the idea):

```
Object {
  "messages": Array [
    Object {
      "attestation": Object {
        "payload": "bagaaieraabrggoqmre5mytsyskditmv6l6tif44uv4apku53lavngeczzvka",
        "signature": "20415dc52a6e4b50069a8857da4d5af65cc97efe6adceb36e3c44a24f50ee73c52f36a7783ae17579798d508df4b53255c89f581cd4d4366bd67b0c24aeed255",
      },
      "data": "eyJjb21tdW5pdHkiOnsibmFtZSI6IlRlc3QgQ29tbXVuaXR5IiwiZGVzY3JpcHRpb24iOiJBd2Vzb21lIHRlc3QgY29tbXVuaXR5IiwicHJpY2VQZXJNZXNzYWdlIjo1LCJwcmljZVRvSm9pbiI6NX19",
      "descriptor": Object {
        "cid": "bagaaierapb3hfsapznktlc37grbcxlrlevueikala7pspw7dum4bzvpnegda",
        "dataFormat": "application/json",
        "dateCreated": "1649421537831",
        "method": "CollectionsWrite",
        "objectId": "d3c82418-b797-4d4a-b3c1-d521022d794c",
      },
    },
  ],
  "requestId": "d47a236a-f9e4-486e-920b-18c6160c7dff",
  "target": "did:key:z7r8orgCJdAbLdE37wXTa5gtwoDb28AmFKkPJXVgo9YgyzhT1wZs6nLwS6YGHAYucu8dAn1cophhkTqH7aS3sQtnohRCk",
}
```

Where we use `authorization`, please change that to say `attestation`.

https://github.com/getZION/relay/blob/66bf0e18978b267aff7db94045d07947da2d0711/api/identityhub/handler/request_context_test.go#L36-L52

You can see my CID algorithm. But it's not equal with `message[0].descriptor.cid`. When you creating CID, do you exclude `requestId` and `target` right? You should create CID from using single message, not full request.
Golang CID: `bafkreifvmr7agtb2ph3wsgvj6j3tpofio3mdybu7hntxvqomct25a7ot4u`
Request CID: `bagaaierapb3hfsapznktlc37grbcxlrlevueikala7pspw7dum4bzvpnegda`

Btw, I've been changed `authorization` with `attestation`.

There are two CIDs: one for the data, one for the entire MessageDescriptor. See the spec [here](https://identity.foundation/decentralized-web-node/spec/#messages).

Code: https://github.com/getZION/v2/blob/authhandshake/src/lib/testAuthHandshake.ts

I got this working in a separate repo by using JWS libraries on client and server. Migrating to that repo shortly.